@media screen and (max-width: 1108px) {
    footer > img:first-of-type {
        display: none;
    }

    footer > img:last-of-type {
        display: block;
    }
}

@media screen and (max-width: 748px) {
    main,
    footer {
        padding: 5px 0 5px 0;
    }
}

@media screen and (max-width: 600px) {
    .desktop {
        display: none;
    }

    .mobile.center-item {
        display: flex;
    }
}

@media screen and (max-width: 430px) {
    main {
        padding: 0 0 50px 0;
    }
}