@media screen and (max-width: 532px) {
    main > div > *:not(img, .details-profile) {
        width: 90%;
    }

    main > div.center-item {
        width: 90% !important;
    }
}

@media screen and (max-width: 500px) {
    body {
        background-color: #FFF;
    }
    
    main {
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
    }

    main > div.center-item {
        width: 100% !important;
        margin: unset !important;
        padding: 100px 0 50px 0;
        border-radius: unset;
    }

    header {
        z-index: 1;
        position: relative;
    }

    #informations img {
        margin-top: 20px;
    }

    main > div::before {
        display: none;
    }
}