body > img {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-mask-image: linear-gradient(#000, #0000);
    mask-image: linear-gradient(#000, #0000);
    object-fit: cover;
    filter: brightness(70%);
    z-index: -1;
}

.profile-images {
    max-height: 0;
    width: 80%;
    overflow: hidden;
    margin-bottom: 0;
    transition: var(--animate);
    height: max-content !important;
}

.profile-images > div {
    width: 100%;
    padding: 10px 0;
    justify-content: space-evenly;
}

.profile-images > div div {
    justify-content: space-evenly;
    width: 40%;
    gap: 20px;
}

.profile-images img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    transition: var(--animate);
}

input[type=file] {
    visibility: hidden;
    position: absolute;
    z-index: -1;
}

.selected {
    transform: rotate(360deg) scale(1.2);
}

#custom-profile-image {
    display: none;
    border-radius: 50%;
    transition: var(--animate);
    cursor: pointer;
}

#custom-profile-image:hover {
    filter: brightness(70%);
}

#forgot-password,
#informations {
    width: 450px;
}

#forgot-password img {
    margin-bottom: 50px;
}

#forgot-password div button {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.logout {
    background-color: #FF142F;
}

.change-info {
    background-color: #2EC4B6;
}

#informations img,
#change-informations img {
    border-radius: 50%;
}

#informations h2,
#message p {
    overflow: hidden;
    text-overflow: ellipsis;
}

#message p {
    white-space: nowrap;
    user-select: none;
}

#informations h2 {
    white-space: pre;
    text-align: center;
    min-width: 90%;
    width: 290px;
}

button svg {
    width: 30px;
    height: 30px;
}

#change-profile-btn {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: var(--navbar-color);
}

#change-profile-modal {
    width: 290px;
    height: max-content;
    box-shadow: var(--tooltip-shadow);
    top: 250px;
    gap: 15px;
    padding: 15px;
    border-radius: unset;
}

#change-profile-modal img {
    width: 50px;
    height: 50px;
    transition: var(--animate);
    cursor: pointer;
}

/* IF USE MODAL BOX IN OTHER PAGE MOVE THIS CODE TO SHARE DIRECTORY */

.modal {
    position: absolute;
    transform: scale(0);
    background-color: #FFF;
    transition: var(--animate);
    border-radius: unset;
}

.modal.active {
    transform: scale(1);
}

.modal::before {
    content: "";
    border-color: transparent transparent #FFF transparent;
    border-style: solid;
    border-width: 10px;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
}

/* IF USE MODAL BOX IN OTHER PAGE MOVE THIS CODE TO SHARE DIRECTORY */