body > img {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-mask-image: linear-gradient(#000, #0000);
    object-fit: cover;
    filter: brightness(70%);
    z-index: -1;
}

main > div.center-item {
    opacity: 0;
    transition: opacity 230ms ease-in 0s;
    display: none;
}

.profile-images {
    max-height: 0;
    width: 80%;
    overflow: hidden;
    margin-bottom: 0;
    transition: var(--animate);
    height: max-content;
}

.profile-images > div {
    width: 100%;
    padding: 10px 0;
    justify-content: space-evenly;
}

.profile-images > div div {
    justify-content: space-evenly;
    width: 40%;
    gap: 20px;
}

.profile-images img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    transition: var(--animate);
}

input[type=file] {
    visibility: hidden;
    position: absolute;
    z-index: -1;
}

.selected {
    transform: rotate(360deg) scale(1.2);
}

#custom-profile-image {
    display: none;
    border-radius: 50%;
    transition: var(--animate);
    cursor: pointer;
}

#custom-profile-image:hover {
    filter: brightness(70%);
}

#forgot-password-box,
#informations-box {
    width: 450px;
}

#forgot-password-box img {
    margin-bottom: 50px;
}

#forgot-password-box div button {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.logout {
    background-color: #FF142F;
}

.change-info {
    background-color: #2EC4B6;
}

#informations-box img,
#change-informations-box img {
    border-radius: 50%;
}

#informations-box h2 {
    text-align: center;
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
    min-width: 90%;
    width: 290px;
}