@media screen and (max-width: 532px) {
    .aside-products-box {
        display: none;
    }

    header nav .links {
        display: none !important;
    }

    header nav .open {
        display: block !important;
    }
    
    header > nav {
        background-color: var(--navbar-color);
        box-shadow: 0 0 6px -1px #000;
    }

    #err-tooltip {
        max-width: 95%;
        width: max-content;
    }

    .dark header > nav {
        background-color: #19589B;
    }
}