@font-face {
    font-family: plex-sans;
    src: url("/fonts/ibm-plex-sans.woff2");
}

:root {
    --animate: all 170ms ease-in 0s;
    --link-hover-color: linear-gradient(to right bottom, #00c4f0, #006e92);
    --navbar-color: #2196F3;
    --tooltip-shadow: rgba(0, 0, 0, 0.3) 0px 10px 30px 0px;
    --background: #E0E0E0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: plex-sans;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.center-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.menu-item {
    width: 100px;
    height: 13px;
    fill: #FFF;
    rx: 6.5px;
    ry: 6.5px;
}

.close-item {
    stroke: #FFF;
    stroke-linecap: round;
    stroke-width: 10;
}

header nav {
    width: 100%;
    padding: 20px 28px;
    justify-content: space-between !important;
    color: #FFF;
}

#profile svg {
    cursor: default;
}

header nav a:not(#profile a),
header nav span {
    color: #FFF;
    position: relative;
    top: -3px;
}

#profile a::before {
    display: none;
}

.links {
    gap: 20px;
    width: max-content;
}

header nav .open {
    display: none;
}

header nav img,
header nav svg {
    margin-top: 5px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

header nav img {
    border-radius: 50%;
}

header nav a::before {
    content: "";
    display: block;
    width: 0;
    height: 5px;
    position: absolute;
    bottom: -5px;
    transition: var(--animate);
    background-image: var(--link-hover-color);
}

header nav a:hover::before {
    width: 100%;
}

.account {
    gap: 10px;
}

.search {
    width: 90%;
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    border-radius: 5px;
    padding: 5px;
    background-color: #FFF7;
}

.search div {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.search input {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    padding: 0 50px 0 20px;
    font-size: 23px;
}

input[type=search]::-webkit-search-cancel-button {
    display: none;
}

.search svg {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    cursor: pointer;
}

aside.menu {
    width: 260px;
    height: 100%;
    position: fixed;
    background-color: #000D;
    z-index: 3;
    left: -260px;
    top: 0;
    transition: var(--animate);
}

aside.menu .links {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0 0 30px;
}

aside.menu a {
    color: #FFF;
}

aside.menu .links a:hover {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: var(--link-hover-color);
}

#prevent {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    top: 0;
    left: 0;
}

.back-to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: #a0a0a0AD;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
}

.back-to-top svg {
    width: 35px;
    height: 35px;
}

#message {
    position: fixed;
    top: 10px;
    right: -320px;
    width: 290px;
    background-color: #FFF;
    box-shadow: var(--tooltip-shadow);
    background-color: #FFF;
    z-index: 2;
    height: 40px;
    font-size: 20px;
    transition: all 400ms cubic-bezier(1,-0.98,0,1.78) 0s;
}

#message.active {
    right: 10px;
}

#message.active .progress {
    width: 100%;
}

#message p {
    padding: 5px;
}

#message .progress {
    position: absolute;
    width: 0;
    left: 0;
    bottom: 0;
    height: 3px;
    background-color: var(--navbar-color);
    transition: width 3s linear 0s;
}

.dark {
    background-color: #080708;
}