header {
    position: absolute;
    width: 100%;
}

header > nav {
    background-color: var(--navbar-color);
    box-shadow: 0 0 6px -1px #000;
}

main {
    flex-direction: column;
    min-height: 100vh;
}

main img {
    width: 290px;
    height: 290px;
}

main a {
    color: var(--navbar-color);
}

main a:hover {
    text-decoration: underline;
}

main h2 {
    text-align: center  ;
}